[Unit]
Description=Daily SAMLscope retention

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
Unit=samlscope-retention.service

[Install]
WantedBy=timers.target
